.detail{
  @extend %cover;
  @extend %center;

  background: $color-quicksand;
  color: $color-white;
  &__wrapper {
  display: flex;
  align-items: center;
    .detail__media{
      position: relative;
      height: 78.2rem;
      width: 55.4rem;
      &__image {
        @extend %cover;
        object-fit: cover;
      }
    }
    .detail__information{
      padding-left: 8.2rem;

      &__collection {
        @extend %description-12;
        text-transform: uppercase;
        margin-bottom: 4rem;
      }
      &__title {
        @extend %title-120;
        max-width: 60rem;
      }

      &__content {
        padding-left: 18rem;
      }
      &__highlights {
        margin-top: 5rem;

        .detail__information__highlight {
          display: flex;
          align-items: center;

          &:not(:first-child) {
            margin-top: 4rem;
          }

          &__icon {
            height: 4rem;
            width: 4rem;
            margin-right: 4rem;
          }
          &__text {
            @extend %description-16;
          }
        }
      }
      &__list{
        margin-top: 4rem;

        .detail__information__item {
          display: flex;
          &:not(:first-child) {
            margin-top: 4rem;
          }
          &__title {
            @extend %description-12;

            padding-right: 2.5rem;
            width: 10rem;
          }
          &__description {
            @extend %description-16;

            max-width: 44rem;
          }
        }
      }
      &__link {
        @extend %title-30;

        display: inline-block;
        margin-top: 3rem;
      }
    }
  }
}

.highlights_icon{
  font-size: 10px;
}

.detail__information__highlight__icon{

}

.detail__information__highlight__icon{

}

